{%extends "./base.html"%}
{% load static %}

{% block mycss %} <link rel="stylesheet" href="{% static 'maketashop/b_post.css' %}">
{% endblock mycss %}

{% block content %}
<div class="container">

	<div class="row">

	  <div class="col-lg-8">

		<h1 class="mt-4">{{ B_postDTO.getPrica.getNaslov }}</h1>

		<p class="lead">
		  autor:
		  <a href="#">{{ B_postDTO.getPrica.getAutorId.getKorisnickoIme }}</a>
		  <br>
		  {% if B_postDTO.getPrica.getPredlozioPricuId %}
			  na prijedlog:
			  <a href="#">{{ B_postDTO.getPrica.getPredlozioPricuId.getKorisnickoIme }}</a>
		  {% endif %}
		</p>

		<hr>
		<p>Datum objave: {{ B_postDTO.getPrica.getDatumPrice|date:"d.m.Y." }}</p>

		<hr>

		<img class="img-fluid rounded" src="{% static B_postDTO.getPrica.getSlika %}" alt="">

		<hr>

		<embed src="{% static B_postDTO.getPrica.getTekst %}" alt="" style="width:100%; height:30vw">

		<hr>

		
		  <form action="" method="post" name="rate" class="d-flex flex-row justify-content-around p-3">
			{% csrf_token %}
			<button type="submit" class="btn {% if B_postDTO.getLajk >= 0 %} btn-success {% else %} btn-secondary {% endif %}" name="rate" value="1" >Sviđa mi se</button>
			<button type="submit" class="btn {% if B_postDTO.getLajk <= 0 %} btn-danger {% else %} btn-secondary {% endif %}" name="rate" value="2" >Ne sviđa mi se</button>
		  </form>

		<hr>
		<div class="d-flex flex-column justify-content-center align-items-center p-2">
		
		{% if B_postDTO.getPrica.getMaketaId and not B_postDTO.getPrica.getMaketaProdana %}
			<h5 class="p-2">Ova je maketa dostupna za kupnju.</h5>
			<h6 class="p-2">Cijena: {{ B_postDTO.getNapod.getCijena }} kn</h6>
			<button type="submit" class="btn btn-primary m-2">Kupi</button>
		{% else %}
			<h5 class="p-2">Ova maketa nije dostupna za kupnju.</h5>
		{% endif %}
		  
		</div>

		<hr>
		
	  </div>

	  <div class="col-md-4">
		<div class="card my-4">
		  <h5 class="card-header">
			Ocjene:
		  </h5>
		  <ul class="list-group list-group-flush d-flex flex-column justify-content-center align-items-center">
			<li class="list-group-item text-success">Sviđa mi se: {{ B_postDTO.getPrica.getBrojLajkova }} </li>
			<li class="list-group-item text-danger">Ne sviđa mi se: {{ B_postDTO.getPrica.getBrojDislajkova }} </li>
		  </ul>
		</div>

		<div class="card my-4">
		  <h5 class="card-header">Komentiraj:</h5>
		  <div class="card-body">
			<form action="" method="post" name="koment">
			  {% csrf_token %}
			  <div class="form-group">
				<textarea class="form-control" rows="3" name="comment_text"></textarea>
			  </div>
			  <button type="submit" name="koment" class="btn btn-primary">Objavi</button>
			</form>
		  </div>
		</div>

		<div class="overflow-auto p-3 bg-light" style="max-width: 360px; max-height: 500px;">
		{% if B_postDTO.getKomentari %}
			{% for komentar in B_postDTO.getKomentari %}
				<div class="media mb-4">
				  <img class="d-flex mr-3 comm-img rounded-circle" src="{% static komentar.getKorisnikId.getProfilnaSlika %}" alt="">
				  <div class="media-body">
					<h5 class="mt-0">{{ komentar.getKorisnikId.getKorisnickoIme }}</h5>
					{{ komentar.sadrzaj }}
				  </div>
				</div>
			{% endfor %}
		{% else %}
			<div class="media mb-4">
				  <div class="media-body">
					<h5 class="mt-0">Nema komentara za prikazati.</h5>
				  </div>
			</div>
		{% endif %}
		</div>
	  </div>
	</div>

  </div>
</div>
{% endblock content %}