{%extends "./base.html"%}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">

      <div class="col-lg-8">

        <h1 class="mt-4">{{ baza_data.naslov }}</h1>

        <p class="lead">
          autor:
          <a href="#">{{ prica.autorid.korisnickoime }}</a>
          <br>
          na prijedlog:
          <a href="#">{{ prica.predloziopricuid.korisnickoime }}</a>
        </p>

        <hr>
        <p>{{ prica.datumObjave }}</p>

        <hr>

        <img class="img-fluid rounded" src="{% static 'maketashop/imgs/maketa2.jpg' %}" alt="">

        <hr>

        <p class="">{{ prica.tekstpriceid.putdodatoteke }}</p>

        <hr>

        
          <form action="" class="d-flex flex-row justify-content-around p-3">
            <button type="submit" class="btn btn-success">Sviđa mi se</button>
            <button type="submit" class="btn btn-danger">Ne sviđa mi se </button>
          </form>

        <hr>
        <div class="d-flex flex-column justify-content-center align-items-center p-2">
		
		{% if prica.dostupnaZaProdaju and not prica.maketaProdana %}
			<h5 class="p-2">Ova je maketa dostupna za kupnju.</h5>
		{% else %}
			<h5 class="p-2">Ova maketa nije dostupna za kupnju.</h5>
		{% endif %}
          <h6 class="p-2">Cijena: ne znamo kako pristupiti cijeni kn</h6>
          <button type="submit" class="btn btn-primary m-2">Kupi</button>
        </div>

        <hr>
        
      </div>

      <div class="col-md-4">
        <div class="card my-4">
          <h5 class="card-header">
            Ocjene:
          </h5>
          <ul class="list-group list-group-flush d-flex flex-column justify-content-center align-items-center">
            <li class="list-group-item text-success">Sviđa mi se: {{ prica.brojLajkova }}</li>
            <li class="list-group-item text-danger">Ne sviđa mi se: {{ prica.brojDislajkova }}</li>
          </ul>
        </div>

        <div class="card my-4">
          <h5 class="card-header">Komentiraj:</h5>
          <div class="card-body">
            <form>
              <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Objavi</button>
            </form>
          </div>
        </div>

		<div class="overflow-auto p-3 bg-light" style="max-width: 360px; max-height: 800px;">
			<div class="media mb-4">
			  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
			  <div class="media-body">
				<h5 class="mt-0">Ime Prezime</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			</div>

			<div class="media mb-4">
			  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
			  <div class="media-body">
				<h5 class="mt-0">Ime Prezime</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			</div>
			
			<div class="media mb-4">
			  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
			  <div class="media-body">
				<h5 class="mt-0">Ime Prezime</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			</div>
			
			<div class="media mb-4">
			  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
			  <div class="media-body">
				<h5 class="mt-0">Ime Prezime</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			</div>
			
			<div class="media mb-4">
			  <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
			  <div class="media-body">
				<h5 class="mt-0">Ime Prezime</h5>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
			</div>
		</div>
      </div>
    </div>

  </div>
</div>
{% endblock content %}