{%extends "./base.html"%}
{% load static %}
{% block mycss %}
<link rel="stylesheet" href="{% static 'maketashop/cart.css' %}">
{% endblock mycss %}
{% block content %}
<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Proizvod</th>
                            <th scope="col" class="text-center">Količina</th>
                            <th scope="col" class="text-center">Materijal</th>
                            <th scope="col" class="text-right">Cijena</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for maketa, kolicina in cartDTO.getCart.items %}
                            <tr>
                                <td>
                                    <img class="shop-img" src="{% static maketa.getMedia %}" />
                                </td>
                                <td>{{ maketa.getIme }}</td>

                                <td>
                                    <input class="form-control" type="text" value="{{ kolicina }}" /></td>
                                <td class="text-center">{{ maketa.getMaterijal }}</td>
                                <td class="text-right">{{ maketa.getCijena }}</td>
                                <td class="text-right">
                                    <button class="btn btn-sm btn-danger">X</button>
                                </td>
                            </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">Suma:</td>
                            <td class="text-right">{{ cartDTO.getSuma }}</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right">Dostava:</td>
                            <td class="text-right"> {{ cartDTO.getDostava }} </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="text-right"><strong>Ukupno:</strong></td>
                            <td class="text-right"><strong> {{ cartDTO.getUkupno }} </strong></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="{% url 'webshop' %}" class="btn btn-lg btn-block btn-light">Nastavi kupovinu</a>
                </div>
                <div class="col-sm-12 col-md-6 text-right"> <!--OVAJ GUMB treba vezat na checkout-->
                    <button class="btn btn-lg btn-block btn-success text-uppercase">Dovrši narudžbu</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}