{%extends "./base.html"%}
{% load static %}
{% block mycss %}
<link rel="stylesheet" href="{% static 'maketashop/proba.css' %}">
{% endblock mycss %}
{% block content %}

<div class="container">

    <h2>Dovrši kupnju</h2>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Vaša košarica</span>
                <span class="badge badge-secondary badge-pill">{{ session.cart.getBrItema }}</span>
            </h4>
            <ul class="list-group mb-3">
                {% if session.cart %}
                    {% for maketa, kolicina in session.cart.getCart.items %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                            <div>
                                <h6 class="my-0">{{ maketa.getIme }} (x{{ kolicina }})</h6>
                            </div>
                            <span class="text-muted">{{ maketa.getCijena }}</span>
                        </li>
                    {% endfor %}

                {% endif %}
               
                <li class="list-group-item d-flex justify-content-between">
                    <span>Dostava:</span>
                    <span class="text-muted">{{ session.cart.getDostava }}</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Ukupno:</span>
                    <strong>{{ session.cart.getUkupno }}</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <form action="" method="post" name="checkout" id="placanjeForm" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Ime</label>
                        <div class="form-group" id="ime">
                            {{ form.ime.errors }}
                            {{ form.ime }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Prezime</label>
                        <div class="form-group" id="prezime">
                            {{ form.prezime.errors }}
                            {{ form.prezime }}
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email">Email</label>
                    <div class="form-group" id="email">
                        {{ form.email.errors }}
                        {{ form.email }}
                    </div>
                </div>

                <div class="mb-3">
                    <label for="address">Adresa</label>
                    <div class="form-group" id="adresa">
                        {{ form.adresa.errors }}
                        {{ form.adresa }}
                    </div>
                </div>

                <hr class="mb-4">

                <h4 class="mb-3">Vrsta plaćanja</h4>

                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Kreditna kartica</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="paypal">PayPal</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Ime i prezime na kartici</label>
                        <div class="form-group" id="imeNaKartici">
                            {{ form.ime_na_kartici.errors }}
                            {{ form.ime_na_kartici }}
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Broj kreditne kartice</label>
                        <div class="form-group" id="brojKartice">
                            {{ form.broj_kartice.errors }}
                            {{ form.broj_kartice }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Istek kartice</label>
                        <div class="form-group" id="istekKartice">
                            {{ form.istek_kartice.errors }}
                            {{ form.istek_kartice }}
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <div class="form-group" id="cvv">
                            {{ form.cvv.errors }}
                            {{ form.cvv }}
                        </div>
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Dovrši kupnju.</button>
            </form>
            <hr class="mb-4">
        </div>
    </div>
</div>
{% endblock content %}