{%extends "./base.html"%}
{% load static %}
{% block mycss %}
<link rel="stylesheet" href="{% static 'maketashop/inbox.css' %}"> {% endblock mycss %}
{% block content %}
<div class="container p-3">

  <h2>Sandučić</h2>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <div class="card my-4">
        <h5 class="card-header">Pošalji adminu:</h5>
        <div class="card-body">
          <a href="{% url 'temasubmit' %}" class="btn btn-block btn-info">Prijedlog teme</a>
          <a href="{% url 'maketasubmit' %}" class="btn btn-block btn-info">Prijedlog makete</a>
          <a href="{% url 'postsubmit' %}" class="btn btn-block btn-info">Prijedlog priče</a>
        </div>
      </div>
    </div>
    <div class="col-md-8">
      {% for interakcija in InboxDTO.getInterakcije %}
      <a href="{% url 'interakcija' %}">
        <div class="media mb-4 inter">
          <img class="d-flex mr-3 rounded-circle profile-img" src="{% static interakcija.getProfilna %}"
            alt="profilna slika">
          <div class="media-body">
            <h4> {{ interakcija.getNaslov }} </h4>
            <div class="d-flex flex-row justify-content-between align-items-center">
              <h5 class="mt-0">{{ interakcija.getIme }} {{ interakcija.getPrezime }} : {{ interakcija.getVrsta }}</h5>
              {% if interakcija.getOtvorena %}
              <span class="badge badge-pill badge-warning">Otvoreno</span>
              {% else %}
              <span class="badge badge-pill badge-success">Zatvoreno</span>
              {% endif %}
            </div>
          </div>
        </div>
      </a>
      <hr>
      {% endfor %}
    </div>


  </div>

</div>
</div>
{% endblock content %}