{%extends "./base.html"%}
{% load static %}

{% block mycss %} <link rel="stylesheet" href="{% static 'maketashop/index.css' %}"> {% endblock mycss %}

{% block content %}
<div class="container p-3">
  <div class="card-columns">
	{% for prica in baza_data %}
		<a href="{% url 'b_post' prica.pricaid %}"  class="post text-dark">
		  <div class="card p-3">
			  <div class="container view">
				
				
				  <img class="card-img-top img-fluid shop-img" src="{% static prica.glavnaslikapriceid.putdodatoteke %}" alt="Card image cap">
				  
				  
				  <div class="card-block">
					  <h4 class="card-title">{{ prica.naslovprice }}</h4>
					  <p class="card-text">{{ prica.tekstpriceid.putdodatoteke }}</p>
				  </div>
			  </div>
		  </div>
		  </a>
	{% endfor %}
  </div>
</div>
{% endblock content %}
