{%extends "./base.html"%}
{% load static %}
{% block mycss %}
<link rel="stylesheet" href="{% static 'maketashop/inbox.css' %}"> {% endblock mycss %}
{% block content %}
<div class="container">

    <div class="row">

        <div class="col-lg-8">
            <h1 class="mt-4">Prijedlog priče:</h1>
            <h1 class="mt-4">{{ InterakcijaPricaDTO.getNaslov }}</h1>

            <p class="lead">
                autor:
            <a href="{% url 'profilpregled' InterakcijaPricaDTO.getAutorId %}">{{ InterakcijaPricaDTO.getAutorKorisnickoIme }}</a>
            <!-- <form action="" method="post" name="userlink" class="d-flex flex-row justify-content-around p-3">
                {% csrf_token %}
                <button class="btn btn-link" type="submit" name="userlink" value="{{ B_postDTO.getAutorId }}">
                    {{ InterakcijaPricaDTO.getAutorKorisnickoIme }}
                </button>
            </form> -->

            <br>
            {% if InterakcijaPricaDTO.getPrica.getPredlozioPricuId %}
            na prijedlog:
            <a href="{% url 'profilpregled' InterakcijaPricaDTO.getPredlozioId %}">{{ InterakcijaPricaDTO.getPredlozioKorisnickoIme }}</a>
            <!-- <form action="" method="post" name="userlink" class="d-flex flex-row justify-content-around p-3">
                {% csrf_token %}
                <button class="btn btn-link" type="submit" name="userlink" value="{{ B_postDTO.getPredlozioId }}">
                    {{ InterakcijaPricaDTO.getPredlozioKorisnickoIme }}
                </button>
            </form> -->
            {% endif %}
            </p>

            <hr>
            <p>Datum objave: {{ InterakcijaPricDTO.getDatumPrice|date:"d.m.Y." }}</p>

            <hr>

            {% for multimedija in InterakcijaPricaDTO.getSvaMedija %}
            {% if multimedija.0 == 'slika' %}
            <img class="img-fluid rounded" src="{% static multimedija.1 %}" alt="">
            {% elif multimedija.0 == 'tekst' %}
            <!-- <object width="300" height="300" type="text/plain" data="message.txt" border="0">
            </object> -->
            <embed src="{% static multimedija.1 %}" alt="" style="width:100%">
            {% elif multimedija.0 == 'video' %}
            <video width="720" height="480" controls>
                <source src="{% static multimedija.1 %}" type=video/mp4>
                <source src="{% static multimedija.1 %}" type=video/mkv>
                <source src="{% static multimedija.1 %}" type=video/avi>
                <source src="{% static multimedija.1 %}" type=video/mov>
                Vaš video nije pronađen
            </video>
            {% endif %}
            <hr>
            {% endfor %}

        </div>

        <div class="col-md-4">
            <div class="card my-4">
                {% if jeAdmin %}
                {% if InterakcijaPricaDTO.getOtvoren %}
                <form action="" method="post" name="approve" class="d-flex flex-row justify-content-around p-3">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success" name="approve" value="1">Objavi priču</button>
                    <button type="submit" class="btn btn-danger" name="approve" value="0">Odbij priču</button>
                </form>
                {% else %}
                {% if InterakcijaPricaDTO.getPrica.objavljena %}
                <div class="bg-success d-flex justify-content-center p-2 text-light"><h5>Priča prihvaćena!</h5></div>
                {% else %}
                <div class="bg-danger d-flex justify-content-center p-2 text-light"><h5>priča odbijena!</h5></div>
                {% endif %}
                {% endif %}
                {% else %}
                {% if InterakcijaPricaDTO.getOtvoren %}
                <div><h5 class="d-flex justify-content-center p-2">Admin još nije pregledao priču</h5></div>
                {% else %}
                {% if InterakcijaPricaDTO.getPrica.objavljena %}
                <div class="bg-success d-flex justify-content-center p-2 text-light"><h5>Priča prihvaćena!</h5></div>
                {% else %}
                <div class="bg-danger d-flex justify-content-center p-2 text-light"><h5>Priča odbijena!</h5></div>
                {% endif %}
                {% endif %}
                {% endif %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}



<!-- <form action="" method="post" name="approve" class="d-flex flex-row justify-content-around p-3">
    {% csrf_token %}
    <button type="submit" class="btn btn-success" name="approve" value="1">odobri</button>
    <button type="submit" class="btn btn-danger" name="approve" value="0">odbij</button>
</form> -->