{%extends "./base.html"%}
{% load static %}
{% block content %}
	<div class="container p-4">
		<form action="" method="post" name="login">
			{% csrf_token %}
		  <div class="form-group">
		  <h1 class="h3 mb-3 font-weight-normal">Prijava korisnika</h1>
		  	{{ form.email.errors }}
		  	{{ form.email }}
		  </div>
		  <div class="form-group">
			{{ form.pass1.errors }}
			{{ form.pass1 }}
		  </div>

		  <button type="submit" class="btn btn-primary">Prijavi se</button>
		</form>
	</div>
{% endblock content %}