{%extends "./base.html"%}
{% load static %}
{% block content %}

<script>
    function changeMaterijal() {
        document.getElementById("cijena").innerHTML = document.getElementById("nivel").value;
    }
    changeMaterijal();
    function sendToBackend() {
        document.getElementById("cijena2").value = document.getElementById("nivel").value;
        var e = document.getElementById("nivel");
        document.getElementById("materijal").value = e.options[e.selectedIndex].text;
    }
    sendToBackend();
    function getSelectedMaterijal() {
        var e = document.getElementById("nivel");
        return e.options[e.selectedIndex].text;
    }
    getSelectedMaterijal();
</script>

<div class="container">

    <div class="row">

        <div class="col-12">

            <h1 class="mt-4">{{ maketaDTO.getIme }}</h1>

            <hr>

            <img class="img-fluid rounded" src="{% static maketaDTO.getMaketaSlika %}" alt="">

            <hr>

            <h3>Opis:</h3>
            <p>{{ maketaDTO.getOpis }}</p>

            <hr>

            <h3>Dimenzije:</h3>
            <p>{{ maketaDTO.getDimenzije }}</p>

            <hr>
            {% if maketaDTO.getOsnovniMaterijal %}
                <h3>Cijena:</h3>
                <p id="cijena">{{ maketaDTO.getOsnovnuCijenu }}</p>

                <hr>

                <div class="d-flex flex-row justify-content-around">
                
                    <select class="col-5 m-2" id="nivel" onchange='changeMaterijal()' form="kupnja">
                        <option selected disabled hidden value="{{ maketaDTO.getOsnovnuCijenu }}">{{maketaDTO.getOsnovniMaterijal}}</option>
                        {% for materijal,cijena in maketaDTO.getMaterijaliICijene.items %}
                            <option value="{{ cijena }}">{{ materijal }}</option>
                        {% endfor %}
                    </select>
                    <form class="col-5 m-2" action="" method="post" id="kupnja" name="kupi">
                        <div class="form-group">
                            {% csrf_token %}
                            <input type="hidden" id="cijena2" name="cijena" value="">
                            <input type="hidden" id="materijal" name="materijal" value="">
                           <!-- {% for materijal,br in maketaDTO.getSkladiste.items %}
                                {% if materijal == "Drvo" %} 
                                    {% if br > 0 %}
                                        <button type="submit" class="btn btn-success col-2" onclick="sendToBackend()">Kupi</button>
                                    {% else %}
                                        <button type="submit" class="btn btn-block btn-secondary col-3" disabled>Nije dostupno</button>
                                    {% endif %}
                                {% endif %}
                            {% endfor %} -->
                            <button type="submit" class="btn btn-success col-2" onclick="sendToBackend()">Kupi</button>
                        </div>
                    </form>
                {% else %}
                    <button type="submit" class="btn btn-secondary col-12" disabled>Nije dostupno</button>
             </div>
            {% endif %}
            <hr>
        </div>

    </div>
</div>
{% endblock content %}