{%extends "./base.html"%}
{% load static %}
{% block mycss %}  {% endblock mycss %}
{% block content %}

<div class="container">
    <hr>
    <div>
        <h5>Pretraži prema korisničkom imenu</h5>
    </div>
    <nav class="navbar navbar-light">
        <div class="input-group">
		  <form action="" method="post" name="search" class="d-flex flex-row justify-content-around p-3">
		  {% csrf_token %}
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">@</span>
          </div>
          <input id = "searchterm" name = "searchterm" type="text" class="form-control" placeholder="Korisničko_ime" {% if AdminUserListDTO.getSearchTerm != " "%} value="{{AdminUserListDTO.getSearchTerm}}" {% endif %} aria-label="Username" aria-describedby="basic-addon1">
		  <button type="submit" class="btn btn-outline-success" name="search" value="1">
			Pretraži
		  </button>
		  </form>
        </div>
    </nav>
    <hr>
    <div class="row">
        {% for k in AdminUserListDTO.getKorisnici %}
		{% if k.getJeAdmin == False %}
		<form action="" method="post" name="userlink" class="d-flex flex-row justify-content-around p-3">
		{% csrf_token %}
		<button type="submit" name="userlink" value="{{ k.getKorisnikId }}">
			{{ k.getKorisnickoIme }}
		</button>
		</form>
		<form action="" method="post" name="pristup" class="d-flex flex-row justify-content-around p-3">
		{% csrf_token %}
		<input type="hidden" name="id" value="{{ k.getKorisnikId }}" />
		{% if k.getDozvoljenPristup == True and k.getJeAdmin == False %}
			<button type="submit" class="btn  btn-outline-danger" name="pristup" value="1">
			Zabrani rad
			</button>
		{% else %}
			<button type="submit" class="btn  btn-outline-success" name="pristup" value="1">
			Dopusti rad
			</button>		
		{% endif %}
		</form>		
        <div class="w-100"></div>
        <hr>
		{% endif %}
        {% endfor %}
    </div>
    <hr>
</div>
{% endblock content %}