{%extends "./base.html"%}
{% load static %}

{% block mycss %} <link rel="stylesheet" href="{% static 'maketashop/profil.css' %}"> {% endblock mycss %}

{% block content %}
<form action="" method="POST" name="priv" class="container p-3" enctype="multipart/form-data">
    {% csrf_token %}
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <div class="card-title row align-items-center justify-content-between">
                      
                          <div class="image-container col-3">
                              <img src="{% static ProfilDTO.getSlika %}" style="width: 150px; height: 150px" />
                            </div>
                            <div class="col-3">
                                      <input type="file" class="btn btn-secondary" name="profilna" />
                                      <!-- <div class="form-group" id="btnBlock1"> -->
                                      <button type="submit" class="btn btn-success">Promijeni sliku</button>
                                      <!-- </div> -->
                                     
                            </div>
                            <div class="form-check col-3">
                                <!-- {{ form.pic }}
                                {{ form.pic.label_tag }} -->
                            </div>
                                  
                          
                      
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <ul class="nav nav-tabs mb-4">
                                  Informacije
                          </ul>
                          <div class="tab-content ml-1">
                              <div>
                        
                                  <div class="row">
                                      <div class="col-6">
                                          <label style="font-weight:bold;">Ime i prezime</label>
                                      </div>
                                      <div class="col-3">
                                        {{ ProfilDTO.getIme }}
                                        {{ ProfilDTO.getPrezime }}
                                      </div>
                                      <div class="form-check col-3">
                                        {{ form.name_surname }}
                                        {{ form.name_surname.label_tag }}
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row">
                                      <div class="col-6">
                                          <label style="font-weight:bold;">Korisničko ime</label>
                                      </div>
                                      <div class="col-3">
                                        {{ ProfilDTO.getKorisnickoIme }}
                                      </div>
                                  </div>
                                  <hr />

                                  <div class="row">
                                    <div class="col-6">
                                        <label style="font-weight:bold;">Datum rođenja</label>
                                    </div>
                                    <div class="col-3">
                                        {{ ProfilDTO.getRodendan }}
                                    </div>
                                    <div class="form-check col-3">
                                        {{ form.birth_date }}
                                        {{ form.birth_date.label_tag }}
                                      </div>
                                    </div>
                                  <hr />

                                  <div class="row">
                                    <div class="col-6">
                                        <label style="font-weight:bold;">Datum registracije</label>
                                    </div>
                                    <div class="col-3">
                                        {{ ProfilDTO.getDatumRegistracije }}
                                    </div>
                                    <div class="form-check col-3">
                                        {{ form.register_date }}
                                        {{ form.register_date.label_tag }}
                                      </div>
                                    </div>
                                  <hr />
                                  
                                  <div class="row">
                                      <div class="col-6">
                                          <label style="font-weight:bold;">Adresa elektronicke poste</label>
                                      </div>
                                      <div class="col-3">
                                        {{ ProfilDTO.getEmail }}
                                      </div>
                                      <div class="form-check col-3">
                                        {{ form.email }}
                                        {{ form.email.label_tag }}
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row">
                                      <div class="col-6">
                                          <label style="font-weight:bold;">Adresa</label>
                                      </div>
                                      <div class="col-3">
                                        {{ ProfilDTO.getAdresa }}
                                      </div>
                                      <div class="form-check col-3">
                                        {{ form.address }}
                                        {{ form.address.label_tag }}
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row justify-content-around">
                                      <div class="col-6">
                                        
                                      </div>
                                      <div class="col-3">

                                      </div>
                                      <div class="col-3">
                                        <button type="submit" class="btn btn-primary">Spremi postavke privatnosti</button>

                                      </div>
                                  </div>

                              </div>
                    
                          </div>
                      </div>
                  </div>


              </div>

          </div>
      </div>
  </div>
</form>
{% endblock content %}