{%extends "./base.html"%}
{% load static %}

{% block mycss %} <link rel="stylesheet" href="{% static 'maketashop/profil.css' %}"> {% endblock mycss %}

{% block content %}
<div class="container">
  <div class="row">
      <div class="col-12">
          <div class="card">
              <div class="card-body">
                  <div class="card-title">
                      <div class="d-flex justify-content-start">
                          <div class="image-container">
                              <img src="{% static 'maketashop/imgs/cat.jfif' %}" style="width: 150px; height: 150px" />
                              <div class="middle">
                                  <input type="button" class="btn btn-secondary" value="Promjeni sliku" />
                              </div>
                          </div>
                          
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-12">
                          <ul class="nav nav-tabs mb-4">
                                  Informacije
                          </ul>
                          <div class="tab-content ml-1">
                              <div>
                        
                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Ime Prezime</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                          Imenko Prezimenjakovic
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Korisnicko ime</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                          korisnik99
                                      </div>
                                  </div>
                                  <hr />
                                  
                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Adresa elektronicke poste</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                          koko99@gmail.com
                                      </div>
                                  </div>
                                  <hr />
                                  <div class="row">
                                      <div class="col-sm-3 col-md-2 col-5">
                                          <label style="font-weight:bold;">Mjesto stanovanja</label>
                                      </div>
                                      <div class="col-md-8 col-6">
                                          Zagreb
                                      </div>
                                  </div>
                                  <hr />
                                  <input type="button" class="btn btn-secondary" value="Uredi informacije" />

                              </div>
                    
                          </div>
                      </div>
                  </div>


              </div>

          </div>
      </div>
  </div>
</div>
{% endblock content %}