{%extends "./base.html"%}
{% load static %}
{% block mycss %} <link rel="stylesheet" href="{% static 'maketashop/proba.css' %}"> {% endblock mycss %}
{% block content %}

<div class="card">
<hr>
	<div class="card-header">
		korisničko-ime-koje-pripada-ovoj-transakciji
	</div>
	<div class="card" style="width: 18rem;">
	  <ul class="list-group list-group-flush">
		<li class="list-group-item">
			<span>Ukupan iznos:</span>
			<strong>18kn</strong>
		</li>
		<li class="list-group-item">
			<span>Adresa:</span>
			<strong>Neka ulica 123</strong>
		</li>
		<li class="list-group-item">
			<span>Proizvodi:</span>
			<strong>a, b, c, d</strong>
		</li>
	  </ul>
	</div>
<hr>
	<div class="card-header">
		korisničko-ime-koje-pripada-ovoj-transakciji
	</div>
	<div class="card" style="width: 18rem;">
	  <ul class="list-group list-group-flush">
		<li class="list-group-item">
			<span>Ukupan iznos:</span>
			<strong>18kn</strong>
		</li>
		<li class="list-group-item">
			<span>Adresa:</span>
			<strong>Neka ulica 123</strong>
		</li>
		<li class="list-group-item">
			<span>Proizvodi:</span>
			<strong>a, b, c, d</strong>
		</li>
	  </ul>
	</div>
<hr>
	<div class="card-header">
		korisničko-ime-koje-pripada-ovoj-transakciji
	</div>
	<div class="card" style="width: 18rem;">
	  <ul class="list-group list-group-flush">
		<li class="list-group-item">
			<span>Ukupan iznos:</span>
			<strong>18kn</strong>
		</li>
		<li class="list-group-item">
			<span>Adresa:</span>
			<strong>Neka ulica 123</strong>
		</li>
		<li class="list-group-item">
			<span>Proizvodi:</span>
			<strong>a, b, c, d</strong>
		</li>
	  </ul>
	</div>
<hr>
	<div class="card-header">
		korisničko-ime-koje-pripada-ovoj-transakciji
	</div>
	<div class="card" style="width: 18rem;">
	  <ul class="list-group list-group-flush">
		<li class="list-group-item">
			<span>Ukupan iznos:</span>
			<strong>18kn</strong>
		</li>
		<li class="list-group-item">
			<span>Adresa:</span>
			<strong>Neka ulica 123</strong>
		</li>
		<li class="list-group-item">
			<span>Proizvodi:</span>
			<strong>a, b, c, d</strong>
		</li>
	  </ul>
	</div>
</div>
<hr>

{% endblock content %}