{%extends "./base.html"%}
{% load static %}
{% block mycss %}
<link rel="stylesheet" href="{% static 'maketashop/WebShop.css' %}">
{% endblock mycss %}
{% block content %}
<div class="container p-2">
    <div class="row">
        {% for maketa in webShopDTO.getMakete %}
        <a href="{% url 'maketa' maketa.getId%}" class="link-shop text-dark">
            <div class="card p-2 m-1" style="width: 23rem;">
                <img class="card-img-top shop-img" src="{% static maketa.getMaketaSlika %}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{ maketa.getIme }} </h5>
                    <p class="card-text">{{ maketa.getOpis }} </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Veličina: {{ maketa.getDimenzije }}</li>
                    <li class="list-group-item">Cijena: {{ maketa.getOsnovnuCijenu }} kn</li>
                    <li class="list-group-item">Osnovni materijal: {{ maketa.getOsnovniMaterijal }} </li>
                </ul>
                <div class="card-body">
                    <form action="" method="post" name="kupi">
                        <div class="row form-group">
                            {% csrf_token %}
                            
                            <input type="hidden" id="idMaketa" name="idMaketa" value="{{maketa.getId}}">
                            <input type="hidden" id="cijena" name="cijena" value="{{maketa.getOsnovnuCijenu}}">
                            <input type="hidden" id="materijal" name="materijal" value="{{maketa.getOsnovniMaterijal}}">
                            <button type="submit" class="btn btn-success col-12">Kupi</button> 
                        </div>
                    </form>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
