{%extends "./base.html"%}
{% load static %}
{% block mycss %}
<link rel="stylesheet" href="{% static 'maketashop/WebShop.css' %}">
{% endblock mycss %}
{% block content %}
<div class="container p-2">
    <div class="row">
        {% for maketa in WebShopDTO.getMakete %}
        <a href="{% url 'maketa' %}" class="link-shop text-dark">
            <div class="card p-2 m-1" style="width: 23rem;">
                <img class="card-img-top shop-img" src="{% static 'maketashop/imgs/maketa1.jpg' %}" alt="Card image cap">
                <div class="card-body">
                    <!--<h5 class="card-title"> {{ maketa.getIme }} </h5>
                    <p class="card-text"> {{ maketa.getOpis }} </p>-->
                    <h5 class="card-title">  ime makete  </h5>
                    <p class="card-text">  opis makete  </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Veličina: {{ maketa.getDimenzije }}</li>
                    <!--<li class="list-group-item">Neki drugi parametar makete idk tbh</li>-->
                    <li class="list-group-item">Cijena: 500 kn</li>
                </ul>
                <div class="card-body">
                    <div class="row">
                        <a class="btn btn-primary dropdown-toggle col-5 m-2" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Materijali
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Drvo</a>
                            <a class="dropdown-item" href="#">Plastika</a>
                            <a class="dropdown-item" href="#">Metal</a>
                        </div>
                        <a href="#" class="btn btn-success col-5 m-2">Kupi</a>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock content %}
